.quiz-container {
  margin: 20px;
}

.question-box {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid var(--ifm-color-primary-light);
  border-radius: 5px;
  white-space: pre-wrap;
  /* font-weight: lighter; */
}

.question-box h3 {
  font-size: 20px; /* Adjust the font size */
  line-height: 1.3; /* Adjust line height for better readability */
  font-weight:600;
  font-family:monospace;
}

.options {
  margin-bottom: 10px;
}

.option-label {
  display: block;
  padding: 10px;
  border: 1px solid var(--ifm-color-primary-light);
  border-radius: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

[data-theme="dark"] .option-label:hover {
  background-color: black;
  color: white;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--ifm-color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--ifm-color-primary-dark);
}

.feedback {
  margin-top: 5px;
  font-weight: bold;
}
